* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #70cee6;
}
.container{
    position: relative;
    max-width: 300px;
    width: 100%;
    padding: 10px 20px 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.display{
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 25px;
    border: none;
    text-align: right;
    color: #000e1a;
    outline: none;
    pointer-events: none;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;
}

.buttons button{
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    background-color: #eee;
    cursor: pointer;
    width: 45px;
}

.buttons button:active{
    transform: scale(0.99);
}

.operator{
    color: #208ae7;
}

#p1 {
    width: 260px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: #d7ebeb;
    border-radius: 5px;
}